<a href="https://colab.research.google.com/github/anavparente/learning_python/blob/main/Anota%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The zen of Python

In [ ]:
import this

# PEP 8  - Python Enhancement Proposals (Propostas de Melhoramento Python)

1 - Utilize Camel Case para nomes de classes;
- `class CalculadoraCientifica`

2 - Utilize nomes em minúsculo, sepado por underline para funções ou variáveis;
- def soma_dois 
- numero_impar

3 - Utilize 4 espaços para identação! 
- `if 'a' in 'banana' :`
    `print ('tem')`

4 - Linhas em branco
- Separar funções e definições de classe com duas linhas em branco;
- Metodos dentro de uma classe devem ser separados com uma única linha em branco;

5 - Imports

- Imports devem ser sempre feitos em linhas separadas;
`import sys`
`import os`

- Imports devem ser colocados no topo do arquivo, logo depois de quaisquer comentários ou docstrigs e antes de constantes ou variáveis globais.

6 - Espaços em expressões e instruções

7 - Termine sempre uma instrução com uma nova linha

# Utilitários Python para auxiliar na programação

Dir e Help

dir -> Apresenta todos os atriutos/propiedades e funções/métodos disponíveis para determinado tipo de dado ou variável.

- `dir(tipo de dado/variavel) `

help -> Apresenta a documentação/ como utilizar os atributos/propriedades e funções/métodos disponíveis para determinado tipo de dado ou variável.

- `help(tipo de dado/ variavel.propriedade) `

In [ ]:
# Resumo de operadores 

dir()
help()
.lower
.upper
.title

In [ ]:
# Exemplos

dir('evg')
help('EVG'.lower)
help('evg'.upper)
help('evg'.title)
'EVG'.lower()
'evg'.upper()
'evg'.title()

# Recebendo dados do usuário

- Todo dado recebido via `input()` é do tipo String

- Cast

É a 'conversão' de um tipo de dado para outro.

In [ ]:
# Resumo de operadores 

input()
int(input())
float(input())
print(f'...{x}...')

In [ ]:
# Exemplo

nome = input(' Qual seu nome? ')
print(f'Seja bem vindo(a) {nome}!')

idade = input(' Qual sua idade? ')
print(f'A  {nome}  tem  {idade}  anos.')

print(f'E {nome} nasceu em {2022 - int(idade)}')   #cast => int

# Tipos de variável

- Atribuir 'J' para números complexos.

- Booleano = verdadeiro ou falso 

`True `  `False`  -  Sempre com a inicial maiuscula 

`not`  -  Negação 

`or` -  Ou 

Operação binaria, depende de dois fatores. Um ou outro deve ser verdadeiro.

`and` -  E 

Operação binaria, depende de dois fatores. Ambos devem ser verdadeiros.

`split() ` - Transforma em uma lista de strings

 Escopo de variáveis
 
 - Variáveis globais: seu escopo compreende todo o programa.

 - Variáveis locais: são reconhecidas apenas no bloco onde foram declaradas.

Python é uma linguagem de tiágem dinâmica. Isso significa que ao declararmos uma variável, não colocamos o tipo do dado dela. Este tipo é inferido ao atribuírmos um valor a mesma.

In [ ]:
# Resumo de operadores

type()
False
True
not
or
and
split()
slice  [::-1]
.replace()

In [ ]:
# Exemplo N. Complexo 

print(type(2j))

num = 5j
re = num ** 2
print(re)

In [ ]:
# Exemplo Booleano

ativo = False 

print(not ativo)

In [ ]:
True or False 

True and False

In [ ]:
n1 = 2
n2 = 6
n3 = 18
n1 < (n2 or n3) > 1

In [ ]:
#   Exemplo - Posição dos caracteres 
nome = "Stars Horizon"
print(nome[0:5])
print(nome[6:13])
print(nome.split())
print(nome.split()[0])
print(nome.split()[1])
print(nome[::-1])   #   Comece no primeiro elemento, vá até o ultimo e inverta.
print(nome.replace('H', 'R'))
texto = 'socorram me subino onibus em marrocos' #   Palíndromo
print(texto[::-1])

In [ ]:
# Exemplo - Escopo de variáveis

nome = 0.02
print(nome)
print(type(nome))

In [ ]:
numero = 9

if numero > 10:
    novo = numero - 10
    print(novo)

# Estruturas lógicas e Condicionais

- if (se)

- else (se não)

- elif  (se não se)

## Operadores binários

- and (e) - ambos os valores precisam ser True.

- or (ou) - um ou outro valor precisa ser True.

- is (é) -o valor é comparado com um segundo.

## Operadores Unários
- not (não) - o valor booleano é invertido.

In [ ]:
# Resumo de operadores

if
else
elif
is
.istitle()
.upper()

In [ ]:
# Exemplo if

print('Insira sua idade')

idade = int(input())

if idade < 18:
    print('Menor de idade')
if idade >= 18:
    print('Maior de idade')

In [ ]:
# Exemple else

print('Insira sua idade')

idade = int(input())

if idade < 18:
    print('Menor de idade')
else:
    print('Maior de idade')

In [ ]:
# Exemplo elif

print('Insira sua idade')

idade = int(input())

if idade < 18:
    print('Menor de idade')
elif idade == 18:
    print('Maior de idade')
elif idade >= 65:
    print('Idoso')
else:
    print('Maior de idade')

In [ ]:
# Exemplo not

ativo = False
logado = False

if not ativo:
    print('Você precisa ativar sua conta. Por favor cheque seu e-mail')
else:
    print('Bem-vindo usuário!')

In [ ]:
# Exemplo and

ativo = False
logado = True

if ativo and logado:
    print('Bem-vindo usuário!')
else:
    print('Você precisa ativar sua conta. Por favor cheque seu e-mail.')

In [ ]:
# Exemplo or

ativo = False
logado = False

if ativo or logado:
    print('Bem-vindo usuário!')
else:
    print('Você precisa ativar sua conta. Por favor cheque seu e-mail.')

In [ ]:
# Exemplo is 

ativo = False
logado = False

if  ativo is False:
    print('Você precisa ativar sua conta. Por favor cheque seu e-mail')
else:
    print('Bem-vindo usuário!')

In [ ]:
# Exemplo de resposta de booleano com operadores 

nome = "Ana"
nome.istitle()

nome = 'Ana'
nome.upper()

nome = 'Ana'
nome.upper().isupper()

# Loop

- Loop - é uma estrutura de repetição 
- For - é uma dessas estruturas

Utilizamos loops para iterar sobre sequências ou sobre valores iteráveis 
- Iteração é o processo chamado na programação de repetição de uma ou mais ações.


Exemplos de iteráveis:

String,  Lista,  Range

OBS: Atenção para identação dos blocos, se não fechados corretamente acontecerão erros de repetição.

## Range

São utilizados para gerar seqências numéricas, não de forma aleatória, mas sim de maneira previamente especificada.

- Início padrão em 0

## While

O bloco será repetido enquanto a condição booleana for verdadeira.

In [ ]:
# Resumo de operadores

for
in
range()
list
while
break
enumerate()

In [ ]:
# Exemplo for

nome = 'Star Horizon'
lista = [1,3,5,7,9]
numeros = range(1,10)

for letra in nome:
    print(letra)
for numero in lista:
    print(numero)
for numero in range(1,10):
    print(numero)

In [ ]:
for i, letra in enumerate(nome):
    print(nome[i])

In [ ]:
for letra in enumerate(nome):
    print(letra)

In [ ]:
# _ - descarta um valor

for _, letra in enumerate(nome):
    print(letra)

In [ ]:
for letra in enumerate(nome):
    print(nome)

In [ ]:
qnt = int(input('Quantas vezes o loop deve rodar?'))

for n in range(1, qnt+1):
    print(f'Imprimindo {n}')

In [ ]:
# end='' - imprimir na mesma linha 

nome = 'star horizon'

for letra in nome:
    print(letra, end='')

In [ ]:
# Exemplo de Concatenação de Strings

nome = 'Stars'
sobre = nome + ' Horizon'
print(sobre)

In [ ]:
nome = 'Stars '
for num in range(1, 11):
    print(f'{nome * num}')

In [ ]:
# Exemplo emoticons

for num in range(1, 11):
    print('\U0001F60D' * num)

In [ ]:
for _ in range(3):
    for num in range(1, 11):
        print('\U0001F60D' * num)

In [ ]:
# Exemplo Range

for num in range(16):
    print(num)

In [ ]:
for num in range(5,16):
    print(num)

In [ ]:
for num in range(5,65,2):
    print(num)

In [ ]:
for num in range(0,10,2):   #Ultimo número corresponde aos passos (saltos)
    print(num)

In [ ]:
for num in range(20,0,-1):
    print(num)

In [ ]:
lista = list(range(10))
print(lista)

In [ ]:
# Exemplo While

num = int(input())

while num <= 10:
    print(num)
    num = num + 1

In [ ]:
num = int(input())

while num < 10:
    num = num + 1
    print(num)

In [ ]:
num = 1  # Código infinito

while num < 10:
    print(num)

In [ ]:
resposta = ''

while resposta != 'sim':
    resposta = input('Já acabou Jessica?')

In [ ]:
# Exemplo Break

for num in range(1,20):
    if num == 6:
        break
    else:
        print(num)

In [ ]:
while True:
    com = input("digite 'sair' para sair do loop:  ")
    if com == 'sair':
        break

# Coleções

## Listas

Listas em python funcionam como vetores/matrizes (arrays) em outras linguagens, com a diferença de serem DINÂMICOS e também podermos colocarmos QUALQUER tipo de dados.

Dinâmico - Não possue tamanho fixo; Ou seja, podemos criar a lista e simplesmente ir adicionando elementos.

Qualquer tipo de dados - Não possuem tipo de dado fixo; Ou seja, podemos colocar qualquer tipo de dado.

As listas em python são representadas por colchetes: [ ]

Pode-se facilmente checar se determinado valor está na lista.

Copiando uma lista para outra **(Shallow Copy e Deep Copy)** 

- Deep Copy

Veja que ao utilizar lista.copy() copia-se os dados da lista para uma nova lista, masfica-se totalmente independente, ou seja, modificando uma lista, não afeta a outra. Isso em Python é chamado de Deep Copy (cópia profunda).

- Shalow Copy

Veja que se foi utilizado uma copia via atribuição e copiamos os dados da lista para a nova lista, mas após realizar modificação em uma das listas, essa modificação se refletiu em ambas as listas. Isso em python é chamado de Shaloow Copy.

In [ ]:
# Resumo de operadores

list()
.sort()
.reverse()
.count()
.append()
.extend()
.insert()
.copy()
len()
.pop()
.clear()
.splity()
.join()
.reverse()
max()
min()
sum()
tuple
.insert()

In [ ]:
# Exemplo list

type([])

In [ ]:
list('Star Horizon')

In [ ]:
lista1 = list(range(21))
num = 56

if num in lista1:
    print(f'Encontrei o número {num}')
else:
    print(f'Número {num} não presente na lista')

In [ ]:
lista2 = list('Stars Horizon')
let = 'a'

if let in lista2:
    print(f'{let} presente em lista2') 
else:
    print(f'{let} não presente em lista2')

In [ ]:
dir(list)

In [ ]:
# Exemplo sort - ordenar uma lista 

lista1 = [1, 85, 12, 16, 13, 18, 18, 161, 7, 156, 19]

lista1.sort()
print(lista1)

In [ ]:
lista2 = list('Stars Horizon')

lista2.sort()
print(lista2)

In [ ]:
# Exemplo reverse - inverter uma lista

lista2.reverse()
print(lista2)

In [ ]:
# Exemplo slice - [::-1]

print(lista2[::-1])

In [ ]:
# Exemplo count 

print(lista1.count(18))
print(lista2.count('r'))

In [ ]:
# Exemplo append - Adicionar elementos em listas só conseguimos adicionar um elemento por vez.

print(lista1)
lista1.append(25)
print(lista1)

In [ ]:
# Coloca a lista como elemento único (sublista)

lista01 = [12, 3, 6, 9, 5, 8, 3, 4, 2, 32]
lista01.append([0, 25, 26])
print(lista01)

if [0, 25, 26] in lista01:
    print('Encontrei')
else:
    print('Não encontrado')

In [ ]:
# Exemplo extend - Adiciona cada elemento individualmente

lista02 = [12, 3, 6, 9, 5, 8, 3, 4, 2, 32]
lista02.extend([22, 44, 56])
print(lista02)

In [ ]:
listaa = list(range(11))
print(listaa)

listaa.extend([15, 16, 95])
print(listaa)

In [ ]:
# Exemplo insert - inserir um novo elemento na lista informando a posição do índice 
#   Isso não substitui o valor da posição. O mesmo será deslocado para a direita da lista.

listaa.insert(3, 25)
print(listaa)

In [ ]:
# Exemplo - unir duas listas

lista05 = [2, 5, 9, 6]
listar = lista05 + lista02
print(listar)
listar.sort()
print(listar)

In [ ]:
lista05.extend(lista02)
print(lista05)

In [ ]:
# Exemplo copy

lista7 = lista02.copy()
lista7.sort()
print(lista7)

In [ ]:
# Exemplo len - contar quantos elementos existem dentro da lista 

print(len(lista7))

In [ ]:
# Exemplo pop - Podemos remover facilmente o ultimo elemento de uma lista
#   não somente remove o último elemento, mas também o retorna

print(lista7)
lista7.pop()
print(lista7)

In [ ]:
# pop - Podemos remover um elemento pelo indice
#   Os elementos á direita deste índice serão deslocados para a esquerda 
#     Se não houver elemento no índice informado, teremos o erro IndexError.

print(lista7)
lista7.pop(2)
#print(lista7)

In [ ]:
# Exemplo clear - remover todos os elementos (zerar a lista)

lista9 = [256, 26, 259, 86, 98, 78]
print(lista9)
lista9.clear()
print(lista9)

In [ ]:
# Exemplo - repetir elementos em uma lista

nova = [1, 2, 3]
print(nova)

nova = nova * 4
print(nova)

In [ ]:
#  Exemplo split - converter uma string para uma lista 
#   Por padrão, o split separa os elementos da lista pelo espaço entre elas

nome = 'Stars Horizon Gregory'
print(nome)

nome = nome.split()
print(nome)

In [ ]:
nome = 'Stars,Horizon,Gregory'
print(nome)

nome = nome.split(',')               # Especificando um separador diferente
print(nome)

In [ ]:
# Exemplo join - converte uma lista em uma string
#   Pega a lista10, coloca espaço entre cada elemento e transforma em string 

lista10 = ['Stars', 'Horizon', 'Gregory']
print(lista10)

frase = ' '.join(lista10)
print(frase)

In [ ]:
lista10 = ['Stars', 'Horizon', 'Gregory']
print(lista10)

frase = '-'.join(lista10)           # Especificando um separador diferente
print(frase)

In [ ]:
# Exemplo de iteração em listas 

listab = [1, 99, 4, 27, 15, 22, 3, 1, 44, 42, 27]

for elemento in listab:
    print(elemento)

In [ ]:
for elemento in lista10:
    print(elemento)

In [ ]:
soma = 0

for elemento in listab:
    soma = soma + elemento 
print(soma)

In [ ]:
soma = ' '

for elemento in lista10:
    soma = soma + elemento 
print(soma)

In [ ]:
carrinho = []
produto = ''

while produto != 'sair':
    print("Adicione um produto na lista ou digite 'sair' para sair: ")
    produto = input()
    if produto != 'sair':
        carrinho.append(produto)

for produto in carrinho:
    print(produto)

In [ ]:
# Exemplo - Variáveis em listas

num1 = 1
num2 = 2
num3 = 3
num4 = 4
num5 = 5

numeros = [num1, num2, num3, num4, num5]
print(numeros)

In [ ]:
# Fazendo acesso de forma indexada - (indexar - organizar em forma de índice)

#           0         1        2        3
cores = ['verde', 'amarelo', 'azul', 'branco']

print(cores[0])
print(cores[1])
print(cores[2])
print(cores[3])

In [ ]:
# Fazer acesso aos elementos de forma indexada inversa

#           0         1        2        3
cores = ['verde', 'amarelo', 'azul', 'branco']

print(cores[-1])
print(cores[-2])
print(cores[-3])
print(cores[-4])

In [ ]:
for cor in cores:
    print(cor)

In [ ]:
indice = 0
while indice < len(cores):
    print(cores[indice])    #Imprimindo 'cores' na posição 'indice'
    indice = indice + 1

In [ ]:
# Gerar índice em um for

for indice, cor in enumerate(cores):  # Posição - Elemento correspondente
    print(indice, cor)

In [ ]:
listay = ['bruna', 'kamilla', 'carol', 'debora', 'daiana']

for pe, nome in enumerate(listay):
    print(pe, nome)

In [ ]:
for nome in enumerate(listay):
    print(listay)

In [ ]:
# Exemplo index - Encontrar o índice de um elemento na lista 
#   Quando se tem valores repetidos, retorna o índice do primeiro valor encontrado

numeros = [1, 9, 3, 6, 8, 7, 4]

print(numeros.index(6))
print(numeros.index(7))

In [ ]:
# Pode-se fazer busca dentro de um range, ou seja, especificar qual índice começar

numeros = [1, 9, 3, 6, 8, 7, 4, 6, 3, 9]

print(numeros.index(6, 5)) # Buscando a partir do índice 5
print(numeros.index(6, 0)) # Buscando a partir do índice 0
print(numeros.index(9, 0)) # Buscando a partir do índice 0
print(numeros.index(9, 6)) # Buscando a partir do índice 6

In [ ]:
# Podemos fazer busca dentro de um range, inicio/fim

print(numeros.index(6, 2, 6))

In [ ]:
# slicing

lista = [1, 2, 3, 4]

print(lista[1::2])

In [ ]:
lista = [1, 2, 3, 4]

print(lista[-3:])

In [ ]:
lista = [1, 2, 3, 4]

print(lista[:2])

In [ ]:
# Invertendo valores em uma lista

nomes = ['ana', 'joão']
nomes[0], nomes[1] = nomes[1], nomes[0]

print(nomes)

In [ ]:
nomes = ['ana', 'joão']
nomes.reverse()

print(nomes)

In [ ]:
# Exemplo - Soma, Valor máximo, Valor mínimo, Tamanho

lista = [1, 2, 3, 4, 5, 6]

print(sum(lista))
print(max(lista))
print(min(lista))
print(len(lista))

In [ ]:
# Exemplo tuple - Transformar lista em tupla

lista = [1, 2, 3, 4, 5, 6]

print(lista)
print(type(lista))

tupla = tuple(lista)
print(tupla)
print(type(tupla))

In [ ]:
# Exemplo de desenpacotamento de listas

lista = [1, 2, 3]

num1, num2, num3 = lista

print(num1)
print(num2)
print(num3)

# Se tivermos um número diferente de elementos na lista ou variáveis 
# para receber os dados, teremos ValueError

In [ ]:
# Exemplo Deep Copy

lista = [1, 2, 3]
print(lista)

nova = lista.copy()
print(nova)

nova.append(4)
print(lista)      
print(nova)

In [ ]:
# Exemplo Shalow Copy

lista = [1, 2, 3]
print(lista)

nova = lista
print(nova)

nova.append(4)
print(lista)
print(nova)

# wiiiii